exportPattern("^[[:alpha:]]+")
import(Resonance)
import(rjson)
import(pracma)
import(sperrorest)
import(R3)
import(caret)
import(pROC)
import(reshape2)
import(rmarkdown)
import(CDFt)
import(stringr)
import(abind)
import(eyelinkReader)
import(ggplot2)
import(gridExtra)
import(rjson)
import(bcidat)